body{
    text-align: center;
}
.foto{
    display: flex;
    margin: 0px ;
    justify-content: center;
}
.sizeimg{
    width: 200px;
    height: 200px;
}
.color{
    color: white;
}
.bg2{
    background-color: black;
    color: white;
}
.type{
    list-style-type: none;
}
.bg{
    background-color: #2B3D89;
    color: white;
}
.bg3{
    background-color: black ;
    color: white;
}
.card{
    color:black;
}
footer{
    width: 100%;
    background-color:  #2B3D89  ;
    height: auto;
    line-height: auto;
    text-align: center;
    color: white;
    margin: 0px;
}
.link{
    list-style-type: none;
}