body{
    text-align: center;
}
.foto{
    display: block;
    margin: 0px ;
    width: auto;
}
.bg2{
    background-color: #5499C7;
    color: white;
}
.type{
    list-style-type: none;
}
.bg{
    background-color: #2B3D89;
    color: white;
}
.bg3{
    background-color: #0E6655 ;
    color: white;
}
.card{
    color:black;
}
footer{
    width: 100%;
    background-color:  #2B3D89  ;
    height: auto;
    line-height: auto;
    text-align: center;
    color: white;
}
.link{
    list-style-type: none;
}